/* DEFAULTS */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font: 62.5%;
  text-align: center;
  box-sizing: border-box;
}

/*******
 GENERAL
 ******/

section {
  padding: 5% 10%;
}

p {
  text-align: left;
}

.heading {
  position: relative;
  margin-bottom: 3%;
}

.heading::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ff1493;
}

/* HEADER/HERO */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

header ul {
  display: inline-block;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 2% 5%;
  margin: 0 auto;
  z-index: 12;
}
header ul li {
  list-style: none;
  color: #ff1493;
  z-index: 3;
  font-weight: 700;
  font-size: larger;
}
.nav-link {
  text-decoration: none;
}

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url();
  background-size: cover;
}

#lead-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 228, 225, 0.8);
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#lead-text {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#lead-text h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5.5em;
  letter-spacing: 0.05em;
  line-height: 0.9em;
  color: #fff;
  margin-bottom: 0.5%;
  box-sizing: border-box;
}

#lead-text h2 {
  margin-bottom: 5%;
  color: #ff1493;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 2.25em;
  box-sizing: border-box;
}

#lead-text a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 3% 7%;
  border: solid 1px #ff1493;
  border-radius: 25px;
  background-color: #ff1493;
  color: white;
  box-sizing: border-box;
  transition: 0.3s;
}

#lead-text a:hover {
  color: #ff1493;
  background-color: #fff;
  border: 3px solid #ff1493;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  bottom: 15px;
  color: #fff;
}
#lead-down span {
}

/*********
* ABOUT ME
***********/

#about-me .grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#about-me h2 {
  text-align: left;
}
#about-me p {
  color: grey;
}

/*********
* PROJECTS
***********/

#projects {
  background-color: #f2f2f5;
}

.project {
  max-width: 900px;
  overflow: hidden;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto 4.5% auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.project-img {
  width: 100%;
  height: auto;
}

.project-content {
  padding: 8% 4%;
  color: grey;
}
.project-content h3 {
  margin-bottom: 3%;
  font-weight: 300;
}
.project-content p {
  padding-bottom: 4%;
  width: 90%;
  margin: 0 auto;
}
.project-content a,
.project-content a:visited {
  text-decoration: none;
  color: #ff1493;
}
.project-content a:hover {
  text-decoration: underline;
}

.flex-container {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

/**********
** SKILLS
*********/
.skills-box {
  max-width: 800px;
  margin: 0 auto;
}

#skills-list li {
  padding: 1.5%;
  background-color: #e4e4ea;
  margin: 0 10px 13px 0;
  display: inline-block;
  list-style: none;
}
